<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Person</title>
</head>
<body>
<p th:text="${person.getName() + ', ' + person.getYearOfBirth()}">VALUE</p>
<!-- IF BOOKS IS EMPTY -->
<div th:if="${books.isEmpty()}">
    <p>Человек пока не взял ни одной книги</p>
</div>
<!-- ELSE -->
<div th:unless="${books.isEmpty()}">
    <hr/>
    <b> Книги: </b>
    <div th:each="book : ${books}"
         th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYearOfPublishing()}">
    </div>
</div>

<hr/>

<form th:method="GET" th:action="@{/people/{id}/edit(id=${person.getId()})}">
    <input type="submit" value="Редактировать"/>
</form>

<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Удалить"/>
</form>

</body>
</html>